.album {
    background-color: #f2f2f2;
    padding: 24px;
    gap: 12px;
    border-radius: 12px;
    display: flex;
}

.album-author {
    margin: 8px 0;
}

.album-tracks {
    margin-left: auto;
}